---
layout: default
title: hackandtoss - Projects
nav: projects
---
<div class="container mt-5">
    <h1 class="display-4 text-center mb-4">Projects</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for project in site.data.projects %}
        <div class="col">
            <div class="card h-100 shadow-lg border-0">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="{{ project.icon }}"></i> {{ project.title }}
                    </h5>
                    <p class="card-text text-secondary">{{ project.description }}</p>
                </div>
                <div class="card-footer bg-transparent border-0 text-center pb-3">
                    <a href="{{ project.url }}" 
                       class="btn {{ project.btn_class }}"
                       {% if project.external %}target="_blank" rel="noopener noreferrer"{% endif %}>
                        {{ project.btn_text }}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>