<footer class="text-center mt-5 py-4">
    <section id="contact">
        <h2><i class="fas fa-envelope"></i> Contact</h2>
        <p><i class="fas fa-envelope"></i> Email: <a
                href="mailto:jobs.purge002@passinbox.com">jobs.purge002@passinbox.com</a></p>
        <p><i class="fab fa-linkedin"></i> LinkedIn: <a href="https://www.linkedin.com/in/john-johnson-77b15247"
                target="_blank" rel="noopener noreferrer">LinkedIn Profile</a></p>
        <p><i class="fab fa-github"></i> GitHub: <a href="https://github.com/hackandtoss" target="_blank"
                rel="noopener noreferrer">GitHub Profile</a></p>
    </section>
</footer>
